body {
    background: url(../images/fancy-cushion/fancy-cushion.png) no-repeat center fixed;
    background-size: cover;
    

}
/* margin settings */
/* .mr-1 {
margin-right: 5rem!important;
} */
.mt-5 {
    margin-top: 10rem!important;
}


/* Utility Classes */
.border {
    border: 2px solid #ffffff;
}