body {
    background: url(../images/fancy-cushion/fancy-cushion.png) no-repeat center fixed;
    background-size: cover;
    

}

.mt-5 {
    margin: 10rem;
}


/* Utility Classes */
.border {
    border: 2px solid #ffffff;
}